<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba4</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/myStyles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">
                  <img src="../assets/images/logotoni2.png" alt="Bootstrap" width="90" height="60">
                </a>
              </div>
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                  </li>
                  <li class="nav-item">
                    <a class="barra nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="barra nav-link" href="./presupuesto.html">Presupuesto</a>
                  </li>
                  <li class="nav-item">
                    <a class="barra nav-link active" href="#">Galería</a>
                  </li><li class="nav-item">
                    <a class="barra nav-link" href="./contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>
        <div class="container">
            <img src="../assets/images/1.png" class="img-fluid" alt="cabecera" id="cabecera"> 
        </div>

    </main>
    <footer>
        <div class="container">
            <img src="../assets/images/2.png" class="img-fluid" alt="piesPag" id="piesPag">
            <a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png" alt="instagram" width="512" height="512" class="soci1"></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.png" alt="facebook" width="512" height="512" class="soci1"></a>
            <a href="https://www.linkedin.com" target="_blank"><img src="../assets/images/linkedin.png" alt="LinkedIn" width="512" height="512" class="soci"></a>
            <a href="https://twitter.com" target="_blank"><img src="../assets/images/twitter_5968830.png" alt="twitter" width="512" height="512" class="soci"></a>
        </div>
        <div class="container">
            
            <p class="text-center">©Antonio Fco Mellado. Todos los derechos reservados.</p>
            <p class="text-center">Calle Granada, 19 Alcalá del Rio. 41200. Sevilla.</p>
        </div>
        <div class="poli"><a href="/views/politica.html">Política de Privacidad y Cookies.Condiciones de Venta</a></div>
    </footer>
    <!--JAVASCRIPT-->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>